#### LOAD BASIC PACKAGES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#### LOAD DATASET

In [2]:
df = pd.read_csv("data/weather.csv")

#### DISPLAY BASIC DETAILS OF DATA

In [3]:
df.head()

  region  temperature   humidity  rainfall  wind_speed        date
0   East    28.692333  80.861110  6.266069    8.342010  2023-01-01
1   West    25.856841  67.760041  7.822946    8.879638  2023-01-02
2  North    24.421759  66.482529  3.376307   11.494587  2023-01-03
3   East    23.494482  52.092615  8.936325   11.220741  2023-01-04
4   East    17.607390  44.655138  0.309751    9.958197  2023-01-05

#### SUMMARY STATISTICS

In [4]:
# Basic statistics
df.describe()
df.info()
df['temperature'].mean(), df['rainfall'].std()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   region       100 non-null    object
 1   temperature  100 non-null    float64
 2   humidity     100 non-null    float64
 3   rainfall     100 non-null    float64
 4   wind_speed   100 non-null    float64
 5   date         100 non-null    object
dtypes: float64(4), object(2)
memory usage: 4.8+ KB

(24.849073278503298, 8.142942421229364)

### âœ… Task1:
#### Compute mean and variance of any two other columns.